header {
  background-color: #ffffff;
  width: 100%;
  padding: 5px 20px;
  border-bottom: 2px solid rgb(150, 150, 150);
}

.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__left {
  position: relative;
}

.logo {
  position: absolute;
  bottom: 12px;
  width: 40px;
  opacity: 0.6;
}

.logo_title {
  display: inline-block;
  font-family: fantasy;
  color: #80786d;
  font-size: 16px;
  font-weight: bold;
  padding-left: 45px;
}


.nav__btn{
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: #80786d;
  text-decoration: none;
  user-select: none;
  border: 1px #80786d solid;
  border-radius: 3px;
  transition: 0.4s ease;
  margin-left: 50px;
}

.nav__btn:hover{
  color: #fff;
  background: #c9beac;
}

.nav__logout{
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: #80786d;
  text-decoration: none;
  user-select: none;
  border: 1px #80786d solid;
  border-radius: 3px;
  transition: 0.4s ease;
}
.nav__logout:hover{
  color: #fff;
  background: #c9beac;
}