<%= month_calendar events: events do |date, events| %>
  <%= date.day %>

  <div>
  <% events.each do |event| %>
    <%= link_to event.title, event_path(event.id), class: "calendar-event-title" %><span class="calendar-event-time"><%= l event.start_time, format: :short %>~</span>
  <% end %>
  </div>
<% end %>
