<%= month_calendar events: events do |date, events| %>
  <%= date.day %>

  <ul class="calendar-event-title-li">
    <% events.each do |event| %>
      <li><%= link_to event.title, event_path(event.id), class: "calendar-event-title" %></li>
    <% end %>
  </ul>
<% end %>
