<%= month_calendar events: events do |date, events| %>
  <%= date.day %>

  <div>
  <% events.each do |event| %>
    <%= link_to "・#{event.title}", event_path(event.id), class: "calendar-event-title" %>
  <% end %>
  </div>
<% end %>
