.event-edit-main {
  width: 100%;
  min-width: 800px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
}

.event-edit-wrap {
  width: 60%;
  padding-bottom: 70px;
}

.event-edit-header {
  text-align: center;
  margin-bottom: 50px;
}

.event-edit-form-text {
  font-size: 20px;
  font-weight: bold;
}

.event-edit-content-input-default {
  width: 100%;
  margin-top: 5px;
  margin-bottom: 20px;
  height: 400px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 16px;
  resize: none;
}

.event-edit-time-form-group {
  margin: 0 auto;
  padding-top: 20px;
}

.select-time-title {
  margin: 0 auto;
  padding: 15px 0;
}

.select-time-form {
  
}

.select-time-title {
  height: 50px;
}
.datetime-select {
  width: 65px;
  height: 30px;
}
