.wrapper {
  height: auto;
  overflow: scroll;
  padding: 50px 30px 60px 70px;
}

.event-calendar {
  width: auto;
  margin-bottom: 70px;
}

aside {
  background-color: rgba(0, 0, 0, 0.5);
  width: 350px;
  height: 100vh;
  top: 0;
  left: -350px;
  position: fixed;
}

#memo-icon {
  width: 40px;
  position: absolute;
  left: 4px;
  top: 30px;
  transform: scale(-1, 1);
  filter: invert(100%);
}
 
aside button {
  background-color: rgba(0, 0, 0, 0.5);
  display: block;
  position: absolute;
  top: 150px;
  left: 350px;
  width: 50px;
  height: 100px;
  margin: 0;
  border: none;
  outline:none;
}