.wrapper {
  margin: 70px auto;
  height: auto;
  overflow: scroll;
  padding-left: 70px;
  padding-right: 30px;
}

.event-calendar {
  width: auto;
  margin-bottom: 70px;
}

aside {
  background-color: rgba(0, 0, 0, 0.571);
  width: 450px;
  height: 100vh;
  top: 0;
  position: fixed;
}

.posts-form {
  margin: 0;
  padding: 0;
  top: 30px;
  left: 30px;
  position: absolute;
}


aside button img {
  width: 40px;
}
 
aside button {
  background-color: rgba(0, 0, 0, 0.571);
  display: block;
  position: absolute;
  top: 150px;
  left: 450px;
  width: 50px;
  height: 120px;
  margin: 0;
  border: none;
}