.wrapper {
  height: auto;
  overflow: scroll;
  padding: 50px 30px 60px 70px;
}
/* カレンダー表示部分 ↓↓↓ */
.event-calendar {
  width: auto;
  margin-bottom: 20px;
}
/* カレンダー表示部分 ↑↑↑ */

/* カレンダーラベル ↓↓↓ */
.simple-calendar-labels {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.simple-calendar-labels p {
  margin: 0 5px;
  font-size: 13px;
  color: rgb(170, 170, 170);
}

.simple-calendar-labels .label-edit-btn {
  margin-left: 20px;
  text-decoration: none;
  color: rgb(167, 167, 167);
}
/* カレンダーラベル ↑↑↑ */

aside {
  background-color: rgba(0, 0, 0, 0.5);
  width: 350px;
  height: 100vh;
  top: 0;
  left: -350px;
  position: fixed;
}

#memo-icon {
  width: 40px;
  position: absolute;
  left: 4px;
  top: 30px;
  transform: scale(-1, 1);
  filter: invert(100%);
}
 
aside button {
  background-color: rgba(0, 0, 0, 0.5);
  display: block;
  position: absolute;
  top: 150px;
  left: 350px;
  width: 50px;
  height: 100px;
  margin: 0;
  border: none;
  outline:none;
}