.event-new-main {
  width: 100%;
  min-width: 800px;
  height: calc(100vh-20px);
  display: flex;
  justify-content: center;
}

.event-new-wrap {
  width: 60%;
  padding-bottom: 70px;
}

.event-new-header {
  text-align: center;
  margin-bottom: 50px;
}

.content-input-default {
  width: 100%;
  margin-top: 5px;
  margin-bottom: 20px;
  height: 400px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 16px;
  resize: none;
}

.event-new-time-form-group {
  margin: 0 auto;
  padding-top: 20px;
}

.select-time-title {
  margin: 0 auto;
  padding: 15px 0;
}

.select-time-title {
  height: 50px;
}
.datetime-select {
  width: 65px;
  height: 30px;
}