.event-show-main {
  width: 100%;
  min-width: 800px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
}
.event-show-wrap {
  width: 60%;
  margin: 50px 0;
}

.show-event-content {
  margin: 10px 0;
  white-space: pre-wrap;
}

.show-event-content span {
  display: inline-block;
  margin-bottom: 30px;
  border-bottom: 3px solid rgb(214, 214, 214);
  font-size: 23px;
}

.show-event-content p {
  margin: 0px;
  display: inline-block;
  font-size: 15px;
}

.link-btn {
  margin-top: 150px;
  width: 150px;
}

.trash_box {
  width: 25px;
  float: right
}