

.simple-calendar .today {
  font-size: 30px;
  background: #ffffff;
  border: 8px solid #e9fcff;
}

.simple-calendar .day {
  height: 160px;
  font-size: 18px;
}

.simple-calendar td {
  border: 1px solid rgba(116, 116, 116, 0.105);
}

.simple-calendar th {
  border: 1px solid rgba(116, 116, 116, 0.16);
  font-size: 15px;
  text-align: center;
}

.simple-calendar .wday-6 {
  color: rgb(2, 171, 250);
}

.simple-calendar .wday-0 {
  color: rgb(250, 2, 2);
}

.simple-calendar .prev-month {
  background: #ffffff;
  color: rgba(0, 0, 0, 0.158);
}

.simple-calendar .next-month {
  background: #ffffff;
  color: rgba(0, 0, 0, 0.158);
}

.calendar-heading {
  text-decoration: none;
  position: relative;
}

.previous-btn {
  margin-left: 50px;
  width: 30px;
}

.next-btn {
  width: 30px;
}

.calendar-title-year {
  font-size: 20px;
  margin-left: 40px;
  margin-right: 20px;
}

.calendar-title-month {
  font-size: 30px;
}

.new-event-btn {
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: #71c2f5;
  text-decoration: none;
  user-select: none;
  border: 1px #87CEFA solid;
  border-radius: 3px;
  transition: 0.4s ease;
  float: right;
  margin-right: 100px;
}

.new-event-btn:hover{
  color: #fff;
  background: #87CEFA;
}

/* _calendar.html.erb */
.calendar-event-title {
  text-decoration: none;
  font-size: 15px;
  color: #000;
  border-bottom: 1px solid #7abaff;
  margin: 0 15px;
}

.calendar-event-time {
  color: rgba(0, 0, 0, 0.344);
  font-size: 13px;
}