.weather_title {
  font-size: 25px;
  font-weight: bold;
  border-bottom: 5px solid rgb(198, 242, 247);
}

.weather {
  display: flex;
}

.weather-report {
  width: 300px;
  margin-right: 5%;
  font-size: 20px;
}

.weather-report p {
  border-bottom: 2px solid rgb(202, 235, 252);
}

.weather-icon {
  width : 110px;
}
