.weather-forecast {
  margin-bottom: 20px;
}

.weather-title {
  display: inline-block;
  margin: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  font-family: fantasy;
}

.weather {
  display: flex;
  justify-content: space-between;
}

.weather-report {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  font-size: 12px;
  margin: 0 10px;
}

.weather-report p {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.weather-icon {
  height: 80px;
  width : 80px;
}
