<aside id="aside">
  <div class="aside_container">
    <%= render 'posts/form'%>

    <div class="posts">
      <%= render 'posts/posts', posts: @posts %>
    </div>

    <button id="aside-button"><img src="/assets/memo-icon.png"></button>
  </div>
</aside>
