.posts_form_container {
  position: relative;
}

.posts_form_title #title {
  height: 40px;
  width: 230px;
}

.posts_form_btn #submit {
  width: 50px;
  height: 40px;
  position: absolute;
  top: 0px;
  left: 250px;
}