.posts-form {
  margin: 0;
  padding: 0;
  top: 30px;
  left: 30px;
  position: absolute;
}

.posts-list {
  margin-top: 120px;
  height: calc(100vh - 150px);
  overflow: scroll;
}

.posts-list li {
  display: flex;
  justify-content: space-between;
  padding-right: 40px;
  margin-bottom: 20px;
}

.posts_lists_title {
  font-size: 15px;
  color: white;
  margin-right: 60px;
  overflow: scroll;
}

.posts_trash_box {
  width: 15px;
}

#check {
  width: 20px;
  opacity: 0.8;
  outline: none;
  margin-right: 10px;
}