.login-btn {
  width: 50%;
  margin: 0 auto;
  margin-top: 50px;
}

.login-blue-btn {
  width: 100%;
  background: #ffffff;
  border: 1px solid #a59b8b;
  color: #a09c96;
  line-height: 48px;
  font-size: 14px;
  cursor: pointer;
  margin-top: 100px;
  transition: 0.4s ease;
}

.login-blue-btn:hover{
  color: #fff;
  background: #a59b8b;
}

.login-flash-message {
  text-align: center;
  color: red;
}